@import "tailwindcss";

@theme {
  --color-ajolo-pink: #ee1d62;
  --color-ajolo-pink-hover: #f23574;
  --color-terminal: #0d0d12;
  --color-bio-cyan: #00f5ff;
  --color-growth: #10b981;
  --color-ghost-white: #f8fafc;

  /* Tipografías */
  --font-sans: "Poppins", ui-sans-serif, system-ui;
  --font-mono: "Fira Code", ui-monospace, monospace;
  --font-space: "Space Grotesk", sans-serif;
}
