@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@theme {
  --color-ajolo-pink: #ee1d62;
  --color-ajolo-pink-hover: #ff3e7e;
  --color-terminal: #0d0d12;
  --color-bio-cyan: #00f5ff;
  --color-growth: #10b981;
  --color-ghost-white: #f8fafc;

  /* Tipografías */
  --font-sans: "Poppins", ui-sans-serif, system-ui;
  --font-mono: "Fira Code", ui-monospace, monospace;
}
