---
import BaseLayout from "../layouts/BaseLayout.astro";
import SpinningTest from "../components/SpinningTest.astro";
---

<BaseLayout title="Home">
  <div class="flex justify-center items-center h-170">
    <div class="w-[50%] flex flex-col justify-start text-slate-900">
      <p
        class="font-space font-bold text-md tracking-[0.3em] uppercase mb-4 opacity-70"
      >
        Ingeniería Digital & Automatización
      </p>
      <h1
        class="font-space font-bold text-6xl lg:text-7xl leading-[0.9] mb-6 uppercase"
      >
        EFICIENCIA SIN LÍMITES
      </h1>
      <div class="h-2 bg-ajolo-pink -mt-3 w-20 mb-3"></div>

      <p
        class="font-space text-xl lg:text-xl font-medium max-w-lg mb-3 opacity-70 leading-tight"
      >
        Optimizamos operaciones complejas y automatizamos procesos para el éxito
        a largo plazo de tu empresa.
      </p>
      <div class="flex gap-5">
        <a
          href=""
          class="inline-block
          bg-white
          px-4
          py-2
          font-space
          font-bold
          text-lg
          rounded-lg
          border-2
          shadow-[0_2px_0_0_#000]
         
          hover:translate-y-px
          hover:shadow-[0_0.5px_0_0_#000]
          hover:bg-ajolo-pink
          transition-all
    duration-100
    ease-out"
        >
          EXPLORAR SERVICIOS</a
        >
        <a
          href=""
          class="inline-block
          bg-[#ff3d3d]
          px-4
          py-2
          font-space
          font-bold
          text-lg
          rounded-lg
          border-2
          border-black
          shadow-[0_2px_0_0_#000]
         text-white
          hover:translate-y-px
          hover:shadow-[0_0.5px_0_0_#000]
          hover:bg-[#e63e3e]
          transition-all
    duration-100
    ease-out"
        >
          MÁS INFORMACIÓN
        </a>
      </div>
    </div>
    <div class="w-[45%] h-full">
      <SpinningTest />
    </div>
  </div>
  <div class="text-center mt-3">
    <a href="" class="font-space text-4xl font-bold">¿POR QUÉ ELEGIRNOS?</a>
  </div>
</BaseLayout>
