---
interface Props {
  href: string;
  title: string;
}

const { href, title } = Astro.props;
---

<div>
  <a
    href={href}
    class="inline-block
          bg-white
          px-4
          py-2
          font-space
          font-bold
          rounded-lg
          border-2
          text-lg
          shadow-[0_2px_0_0_#000]
          hover:text-white
          hover:border-black
          hover:translate-y-px
          hover:shadow-[0_0.5px_0_0_#000]
          hover:bg-ajolo-pink
          transition-all
    duration-100
    ease-out"
    >{title}</a
  >
</div>
