---
interface Props {
  href: string;
  title: string;
}

const { href, title } = Astro.props;
---

<div>
  <a
    href={href}
    style={{
      padding: "8px 20px",
    }}
    class="block
    font-space
    font-semibold
    rounded-xl
    border-2
    border-black
    bg-transparent
    hover:bg-ajolo-pink
    shadow-lg
    hover:translate-y-px
    hover:shadow-none
    hover:text-white
    hover:border-transparent
    transition-all
    duration-100
    ease-out"
    >{title}</a
  >
</div>
